body{
    background: white;
    margin-top:10%;
}

.uppy
{
    text-align: center;
}

.formy
{
    font-size: 20px;
}

.exe
{
    text-align: center;
    margin-top: 5%;
    display: ;
}

#dl-but
{
    text-align: center;
    margin-top: 5%;
    display: ;
}
